body{
    background-image: url(../Imagens/background.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
}
h2{
    color: pink;
    font-size: 18pt;
    font-family: Times;
    text-align: center;
}
p{
    color: red;
    font-size: 15pt;
    font-family: Times; 
    text-align: center;
}
a{
    color: white;
}