body{
    background-image: url(../Imagens/back.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
}
h2{
    color: rgb(207, 38, 66);
    font-size: 18pt;
    font-family: Times;
    text-align: center;
}
p{
    color: rgb(218, 51, 79);
    font-size: 15pt;
    font-family: Times;
    text-align: center;
}
a{
    color: rgb(8, 8, 8);
}